@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  /* Sentry Dark Mode Colors */
  --background: 11.125 13.333 23.922; /* Rich Black #181225 */
  --foreground: 255 255 255;
  --card: 24 18 37; /* Rich Black */
  --card-foreground: 255 255 255;
  --popover: 24 18 37;
  --popover-foreground: 255 255 255;
  --primary: 117 83 255; /* Blurple #7553FF */
  --primary-foreground: 255 255 255;
  --secondary: 78 42 154; /* Dk Blurple #4E2A9A */
  --secondary-foreground: 255 255 255;
  --muted: 54 22 107; /* Dk Violet #36166B */
  --muted-foreground: 158 134 255; /* Lt Blurple #9E86FF */
  --accent: 167 55 180; /* Dk Purple #A737B4 */
  --accent-foreground: 255 255 255;
  --destructive: 255 69 168; /* Dk Pink #FF45A8 */
  --border: 78 42 154; /* Dk Blurple */
  --input: 78 42 154;
  --ring: 117 83 255; /* Blurple */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
