@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  /* Sentry Dark Mode Colors */
  --background: rgb(11.125 13.333 23.922); /* Rich Black #181225 */
  --foreground: rgb(255 255 255);
  --card: rgb(24 18 37); /* Rich Black */
  --card-foreground: rgb(255 255 255);
  --popover: rgb(24 18 37);
  --popover-foreground: rgb(255 255 255);
  --primary: rgb(117 83 255); /* Blurple #7553FF */
  --primary-foreground: rgb(255 255 255);
  --secondary: rgb(78 42 154); /* Dk Blurple #4E2A9A */
  --secondary-foreground: rgb(255 255 255);
  --muted: rgb(54 22 107); /* Dk Violet #36166B */
  --muted-foreground: rgb(158 134 255); /* Lt Blurple #9E86FF */
  --accent: rgb(167 55 180); /* Dk Purple #A737B4 */
  --accent-foreground: rgb(255 255 255);
  --destructive: rgb(255 69 168); /* Dk Pink #FF45A8 */
  --border: rgb(78 42 154); /* Dk Blurple */
  --input: rgb(78 42 154);
  --ring: rgb(117 83 255); /* Blurple */
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
